@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.row {
  background: #fff;
}
.logo {
  color: black;
}
.heading {
  color: #000c4b;
}
.heading .h2{
    font-weight: 1000;  
}
.heading .h6{
    font-size: 14px;  
}
.google {
  border: 1px solid black;
  border-radius: 5px;
  color: #000c4b;
}
.google a {
  text-decoration: none;
  color: #000c4b;
  font-weight: 800;
}
.google a:hover {
  color: #4953cf;
  transition: ease-in-out 0.4s;
}
.lines {
  width: 100%;
  position: relative;
  height: 45px;
}
.lines::after,
.lines::before {
  content: "";
  position: absolute;
  margin: auto;
  height: 1px;
  opacity: 10%;
  background: #000c4b;
  width: 40%;
  top: 30%;
}
.lines::after {
  left: 0;
}
.lines::before {
  right: 0;
}
.or {
  width: 16px;
  height: 40px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.form-row a {
  color: #4953cf;
  font-size: 14px;
}
.form-row hr {
  color: #4953cf;
  height: 1px !important;
}
.form-control {
  background: transparent !important;
  /* border-bottom: 2px solid red !important; */
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
input.form-control:focus {
  box-shadow: none !important;
  border: none;
  color: #4953cf;
}
.btn.btn-primary {
  background: #4953cf;
  border: 1px solid #4953cf;
  text-transform: uppercase;

  font-size: 14px;
}
.btn.btn-primary:hover {
  color: #000c4b;
  background-color: #fff;
  border: 1px solid #000c4b;
  transition: ease-in-out 0.6s;
}
/* common class */
.uppercase {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 800;
  color: gray;
}
/* .overlay {
  background-color: #4953cf !important;
  background-blend-mode: overlay;
} */
